/* Estilo para el cuerpo de la página */
body {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para el contenedor principal */
#contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para el encabezado */
#encabezado {
    text-align: center;
    padding-bottom: 20px;
}

/* Estilo para el menú de navegación */
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline;
    margin-right: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menu ul li a:hover {
    color: #FF1493; /* Cambiar color al pasar el ratón sobre los enlaces */
}

/* Estilo para el pie de página */
#pie {
    text-align: center;
    margin-top: 50px;
}